* {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}
    
nav {
    height: 10vh;
    background-color: white;
    display: table;
    width: 100%;
    position: relative;
    /* transform: translate(-50%,-50%); */
    /* top: 50%; */
    /* left: 50%; */
    
    
}
.name {
    color: white;
    vertical-align: middle;
    background-color: #4aaaa5;
    width: 20%;
    text-align: center;
    padding-top: 30px;
    min-height: 6vh;
    margin-left: 18.5%;
    float: left;
  }
.nav-link {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    color: rgba(128, 128, 128, 0.808);
    text-align: right;
  }
.nav-link:not(:last-child) {
    padding-right: 20px;
  }
.nav-link-container {
    float: right;
    color: white;
    display: table;
    height: 100%;
    margin-right: 18.5%;
}
main {
    width: 100%;
    position: relative;
    height: 80vh;
}
footer {
    background-color: #4aaaa5;
    height: 10vh;
    position: relative;
}
.copyright {
    vertical-align: middle;
    text-align: center;
    /* display: table; */
    font-size: 50%;
    margin-top: 58px;
}
.container  {
    background-color: whitesmoke;
    height: 450px;
    width: 960px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card-header {
    border-bottom-color: black;
    height: 20%;
    vertical-align: middle;
}
.card-header-text {
    color:#4aaaa5;
    padding-bottom: 20px;
    padding-top: 12px;
}

.footerbackground {
    background-color: grey;
    height: 90%;
    bottom: 0%; /*makes the div class stay on the bottom */
    position: absolute;
    width: 100%;
}
body {
    background-image: url('../Images/so-white.png');
    background-size: cover;
    background-position: center;
}

img {
    width: 150px;
    height: 250px;
    float: left;
}
.type {
    width: 100%;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 1px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.container1  {
    background-color: whitesmoke;
    height: 450px;
    width: 960px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* display: table-cell; */
    /* display: grid; */